#header {
    @extend %float;
    height: auto;
    padding: 32px 25px;
    position: absolute;
    background: transparent;
    @include transition-duration(300ms);
    @include transition-property(all);
    transform: transition-timing-function(0.7, 1, 0.7, 1);
    -webkit-transform: transition-timing-function(0.7, 1, 0.7, 1);
    z-index: 99;
    .header {
        @extend %float;
        .header-main {
            @extend %float;
        }
        .logo {
            float: left;
            height: auto;
            margin-top: 8px;
            a {
                @extend %float;
                height: auto;
                @include transition(all 0.4s ease-out 0s);
                img {
                    display: block;
                    width: auto;
                    height: auto;
                }
            }
        }
    }
    &.affix {
        background: white;
        @include box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.15));
        padding: 15px 30px;
    }
}

.header-left {
    float: left;
    width: auto;
    padding-left: 60px;
    margin-top: 12px;
    .nav {
        float: right;
        width: auto;
        height: auto;
        position: relative;
        .nav-main {
            float: left;
            width: auto;
            @include transition(all 0.25s ease 0s);
            ul {
                @extend %float;
                height: auto;
                &.second {
                    display: none;
                }
                li {
                    float: left;
                    width: auto;
                    position: relative;
                    margin-right: 30px;
                    &:last-child {
                        margin-right: 0px;
                    }
                    a {
                        float: left;
                        width: auto;
                        height: auto;
                        font-family: $Font_Sailec;
                        font-size: 16px;
                        font-weight: 500;
                        color: white;
                        line-height: 160%;
                        text-decoration: none;
                        @include transition(all 0.25s ease 0s);
                        position: relative;
                        &:hover,
                        &.active {
                            color: $pink;
                        }
                    }
                    &.current-menu-item,
                    &.active {
                        a {
                            color: $pink;
                        }
                    }
                }
                .sub-menu {
                    padding-right: 18px;
                    span {
                        position: absolute;
                        right: 0;
                        top: 10px;
                        background: transparent url(../images/ic-down-arrow.svg) center center no-repeat;
                        width: 10px;
                        height: 6px;
                    }
                    ul {
                        @include bg_gradient;
                        width: 170px;
                        position: absolute;
                        opacity: 0;
                        visibility: hidden;
                        left: 50%;
                        padding: 15px;
                        margin-left: -75px;
                        top: 33px;
                        @include transition (all .25s ease-in-out);
                        @include box-shadow (0 0 2px rgba(0, 0, 0, .2));
                        @include border-radius (4px);
                        height: 0;
                        overflow: hidden;
                        transform-origin: top;
                        display: inline-block;
                        li {
                            padding: 5px;
                            @extend .section;
                            margin: 0px;
                            a {
                                @extend .section;
                            }
                        }
                    }
                    // &.sub-menu:hover {
                    // 	ul {
                    // 		visibility: visible;
                    // 		opacity: 1;
                    // 		height: 106px;
                    // 	}
                    // }
                }
            }
        }
    }
}

.login-access {
    float: right;
    ul {
        li {
            display: inline-block;
            vertical-align: middle;
            margin-left: 40px;
            a {
                float: left;
                width: auto;
                font-family: $Font_Sailec;
                font-size: 16px;
                font-weight: 500;
                color: white;
                text-decoration: none;
                @include transition(all 0.25s ease 0s);
                position: relative;
                min-width: inherit;
                &:hover,
                &.active {
                    color: $pink;
                }
                &.btn-main {
                    color: white;
                    margin: 0px;
                    height: 48px;
                    line-height: 46px;
                    padding: 0 25px;
                }
            }
        }
    }
}

// #header.affix .nav-main ul li a{
// 	color:#666666;
// }
// #header.affix .nav-main ul li:last-child a{
// 	color:#91AD89;
// 	border-color:#91AD89;
// }
// #header.affix .nav-main ul li:last-child a:hover{
// 	color:white;
// }

/*-----------------res-nav-Start-------------------*/

.res_navigation {
    display: none;
    width: 72px;
    height: 22px;
    position: absolute;
    right: 16px;
    top: 16px;
}

.nav-toggle {
    position: absolute;
    top: 0;
    right: 22px;
    z-index: 999999;
    padding: 5px 30px 13px 0;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &.active {
        .top {
            background: #08091C;
            @include transform(translateY(12px) translateX(0) rotate(45deg));
        }
        .middle {
            opacity: 0;
            background: #08091C;
        }
        .bottom {
            background: #08091C;
            @include transform(translateY(-7px) translateX(0) rotate(-45deg));
        }
    }
    span {
        border: none;
        height: 2px;
        width: 100%;
        position: absolute;
        top: -2px;
        left: 0;
        cursor: pointer;
        @include transition(all .55s ease);
        &:nth-of-type(2) {
            top: 7px;
        }
        &:nth-of-type(3) {
            top: 16px;
        }
    }
}

.mobile-li {
    display: none;
}

#header {
    &.affix {
        .nav-toggle {
            span {
                background: #91AD89;
            }
            &.active {
                span {
                    background: white;
                }
            }
        }
    }
}